@{
    ViewData["Title"] = "Dokumentáció";
}
<h1>@ViewData["Title"]</h1>
<h4>Felhasznált képek:</h4>
<table class="table w-100">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kép</th>
            <th scope="col">Kép neve</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><img src="https://cdn.pixabay.com/photo/2020/03/19/21/25/laptop-4948837_1280.jpg" /></td>
            <td>default.jpg</td>
            <td><a href="https://pixabay.com/hu/photos/4948837">Megnyitás</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><img src="https://cdn.pixabay.com/photo/2019/11/23/03/08/valley-4646114_1280.jpg" /></td>
            <td>login.jpg</td>
            <td><a href="https://pixabay.com/hu/photos/4646114/">Megnyitás</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><img src="https://cdn.pixabay.com/photo/2014/09/20/20/24/serpentine-454249_1280.jpg" /></td>
            <td>register.jpg</td>
            <td><a href="https://pixabay.com/hu/photos/454249">Megnyitás</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td><img src="https://cdn.pixabay.com/photo/2017/06/12/14/38/tractor-2395766_1280.jpg" /></td>
            <td>forgotpass.jpg</td>
            <td><a href="https://pixabay.com/hu/photos/2395766">Megnyitás</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td><img src="https://cdn.pixabay.com/photo/2020/10/10/14/30/dog-5643292_1280.jpg" /></td>
            <td>profileimage.jpg</td>
            <td><a href="https://pixabay.com/hu/photos/5643292">Megnyitás</a></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td><img src="https://cdn.pixabay.com/photo/2021/11/15/05/52/red-fox-6796430_1280.jpg" /></td>
            <td>pelda_project.jpg</td>
            <td><a href="https://pixabay.com/hu/photos/6796430">Megnyitás</a></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td><img src="https://cdn.pixabay.com/photo/2021/04/22/06/40/duck-6198196_1280.jpg" /></td>
            <td>duck.jpg</td>
            <td><a href="https://pixabay.com/hu/photos/6198196">Megnyitás</a></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td><img src="https://cdn.pixabay.com/photo/2020/11/06/19/12/kid-5718703_1280.jpg" /></td>
            <td>kid.jpg</td>
            <td><a href="https://pixabay.com/hu/photos/5718703">Megnyitás</a></td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td><img src="https://cdn.pixabay.com/photo/2019/10/02/06/27/sunlight-4520112_1280.jpg" /></td>
            <td>mood.jpg</td>
            <td><a href="https://pixabay.com/hu/photos/4520112">Megnyitás</a></td>
        </tr>
    </tbody>
</table>

<style>
    img {
        max-height: 100px;
    }
</style>
