@model PasswordChangeViewModel
<div class="modal-header">
    <h5 class="modal-title">Jelszó megváltoztatása</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    @if(Model.PasswordChanged)
    {
        <div class="alert alert-success" role="alert">
            Jelszó módosítás sikeres!
        </div>        
    }  
    else 
    {                      
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <form method="post" id="passwordForm">
            <div class="form-group">                                        
                <label asp-for="NewPassword">@Html.DisplayNameFor(m => m.NewPassword)</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div> 
            <div class="form-group">                                        
                <label asp-for="ConfirmNewPassword">@Html.DisplayNameFor(m => m.ConfirmNewPassword)</label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
        </form>
    }         
</div>

<div class="modal-footer">
    @if(Model.PasswordChanged)
    {
        <button type="button" class="btn btn-primary" data-dismiss="modal">Rendben</button>
    }
    else 
    {
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
        <button type="button" onclick="saveData()" class="btn btn-primary">Mentés</button>
    }
</div>

<script>
    function saveData() {       
        $.ajax({
            type: "POST",
            url: "@Url.Action("ChangePassword", "Account")",
            data: $('#passwordForm').serialize(),
            success: function (res) {
                $('#dataEditorModal').modal('show').find('.modal-content').html(res);                
            }
        });
    }
</script>