@model PasswordResetViewModel
@{
    ViewBag.Title = "Jelszó visszaállítás";
}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="loginTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="login-tab" href="/Account/Login" aria-selected="true">Bejelentkezés</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="register-tab" href="/Account/Register" aria-selected="false">Regisztráció</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="forgotpass-tab" data-toggle="tab" href="#" role="tab" aria-controls="passwordreset" aria-selected="false">Elfelejtett jelszó</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="tab-content" id="loginTabContent">
                    <div class="tab-pane fade show active p-0" id="forgotpass" role="tabpanel" aria-labelledby="forgotpass-tab">
                        <div class="row">
                            <div class="col-6 forgotpass-image">
                            </div>
                            <div class="col-6 p-5">
                                <h1>Elfelejtett jelszó</h1>
                                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                                <form method="post">
                                    <div class="form-group">                                                                
                                        <label asp-for="Email">@Html.DisplayNameFor(m => m.Email)</label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">                                                                
                                        <label asp-for="UserName">@Html.DisplayNameFor(m => m.UserName)</label>
                                        <input asp-for="UserName" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">                                        
                                        <label asp-for="Password">@Html.DisplayNameFor(m => m.Password)</label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">                                        
                                        <label asp-for="ConfirmPassword">@Html.DisplayNameFor(m => m.ConfirmPassword)</label>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Megerősítés elküldése</button>
                                </form>          


                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>